.profile {
   background: url(https://img-fotki.yandex.ru/get/230858/199203331.187/0_166255_40a16f03_orig) no-repeat;
   background-size: 100%;
   height: 100vh - 30px;
}

.profile-data {
   display: flex;
   flex-direction: column;
   padding-bottom: 70px;
   box-sizing: border-box;
}

.profile-column {
   display: grid;
   grid-template-columns: 3fr 1fr;
   padding: 30px;
   box-sizing: border-box;
}

.profile-content {
   padding-right: 30px;
}

.profile-names-data {
   color:rgb(255, 255, 255);
   font-size: 50px;
   padding-bottom: 50px;
   font-weight: 300;
   font-family: 'Courier New', Courier, monospace;
}

.profile-names-data-max {
   font-size: 80px;
   letter-spacing: 5px;
   color:rgb(255, 255, 255);
   font-weight: 600;
}